
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
	<link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
	<div class="form-container">
		<p class="title">Registrar</p>
		<form class="form" action="@Url.Action("Registrar","AccesoController1")" method="post">
			<div class="input-group">
				<label for="Nombres">Nombres</label>
				<input type="text" name="Nombres" id="Nombres" placeholder="">
			</div>
			<div class="input-group">
				<label for="Apellidos">Apellidos</label>
				<input type="text" name="Apellidos" id="Apellidos" placeholder="">
			</div>
			<div class="input-group">
				<label for="Correo">Correo</label>
				<input type="email" name="Correo" id="Correo" placeholder="">
			</div>
			<div class="input-group">
				<label for="Contraseña">Contraseña</label>
				<input type="password" name="Contrasena" id="Contrasena" placeholder="">
			</div>
			<button type="submit" class="sign">Registrar</button>
		</form>
	</div>
</body>
</html>
